{{FrontSide}}

<script id="raw-word" type="text/plain">{{word}}</script>
<script id="raw-definition" type="application/json">{{definition}}</script>
<script id="raw-examples" type="application/json">{{examples}}</script>
<script id="raw-pronunciations" type="application/json">{{pronunciations}}</script>
<script id="raw-metadata" type="application/json">{{metadata}}</script>
<script id="raw-context" type="text/plain">{{context}}</script>

<hr id="answer" class="border-base-300 my-6 border-t" />

<div id="onedict-back-root"></div>

<script>
  {{! BACK_SCRIPT }}
  if (typeof AnkiCard !== "undefined") AnkiCard.initAnkiBack();
</script>