<div id="onedict-front-root"></div>

<script id="raw-word" type="text/plain">{{word}}</script>
<script id="raw-definition" type="application/json">{{definition}}</script>
<script id="raw-examples" type="application/json">{{examples}}</script>
<script id="raw-pronunciations" type="application/json">{{pronunciations}}</script>
<script id="raw-metadata" type="application/json">{{metadata}}</script>
<script id="raw-context" type="text/plain">{{context}}</script>
<div id="raw-audio" style="display: none;">{{audio}}</div>

<script>
  {{! FRONT_SCRIPT }}
  if (typeof AnkiCard !== "undefined") AnkiCard.initAnkiFront();
</script>